html 
  head 
    title="melon's super secure web app 2.0"

  body 
    h1="melon's super secure web app 2.0 (aka Jira 2.0)"  
    p="what folder would you like to see?"

    form(action="/" method="GET") 
      input(type="text" name="folder" value=folder) 
      button(type="submit") Submit

    code 
      pre #{output}